@model gestionabscence.Models.Professor


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Full Name
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">
            @Html.DisplayFor(model => model.User.FullName)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProfessorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
